// place your custom styles here

// 自定义heroText渐变颜色
#main-title {
  background: linear-gradient(90deg, #8baaf0 0%, #a2d9f5 100%) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  color: transparent !important;
}